@import "../../../styles/colors";

input {    
    background-color:transparent !important;
    border: 1px white solid;
    color:white !important;
}

.label-sentcode {
    font-size: 10px;
    font-weight: 500;
    font-style: normal;
    color: #e6e3e3;
    font-stretch: normal;
    letter-spacing: normal;
    line-height: normal;
    margin-left: 5px;
    margin-top: 10px;
}

.form-email, .form-password { 
    margin-top: 5vh;
}

input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
color: white;
}

.label-signin {
    font-size:24px;
    font-weight:500;
    color:#ffffff;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: sub;
}

.btn-dark{
    background-color: #465057 !important;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#515A62), to(#82878B));
    background-image: -webkit-linear-gradient(top, #515A62, #82878B);
    background-image: -moz-linear-gradient(top, #515A62, #82878B);
    background-image: -ms-linear-gradient(top, #515A62, #82878B);
    background-image: -o-linear-gradient(top, #515A62, #82878B);
    background-image: linear-gradient(to bottom, #515A62, #82878B);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#515A62, endColorstr=#82878B);    
    border-color: #949595 !important;
    padding-top: .49rem !important;
    padding-bottom: .49rem !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
    width: 110px;
}

.btn-dark:hover,
.btn-dark:active,
.btn-dark:visited,
.btn-dark:focus  {
    background-color: #465057 !important;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#465057), to(#465057));
    background-image: -webkit-linear-gradient(top, #465057, #465057);
    background-image: -moz-linear-gradient(top, #465057, #465057);
    background-image: -ms-linear-gradient(top, #465057, #465057);
    background-image: -o-linear-gradient(top, #465057, #465057);
    background-image: linear-gradient(to bottom, #465057, #465057);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#465057, endColorstr=#465057);
}

.btn-continue {
    width:110px;
}

.side-content {
    border-radius: 20px;
    background-color: #314350;
    min-height:40px;
    color:white;
    padding:32px;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}

.lbl-forgotpassword-sidecontent {
    font-size:12px;
    font-weight: 300;
    color:$color-white;
    margin-top: 10px;
}

@media (max-width: 767px) {
    .btn-forgotpassword-cancel, .btn-forgotpassword-continue {
        margin-top: 10px;
    }
}